//头部
.my-header{
    background-color: #e92322;
    .mui-title {
        color: #fff;
    }
    .mui-icon-search{
        color: #fff;
    }
}
//底部
.my-footer{
   background-color: #e92322;
   .mui-tab-item{
       color: #fff;
       .mui-active{
        color: purple;
   } 
    }

  
}